.fade-in {
  animation: fadeIn 0.5s 1;
}

.fade-in-delay-25 {
  animation: fadeIn 0.5s 0.25s 1;
}

.appear {
  animation: appear 0.25s 1;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button {
  display: inline-block;
  background-color: rgba(12, 11, 11, 0.3411764706);
  border: 0.0625rem solid var(--primary-highlight-dark-color);
  border-radius: var(--primary-border-radius);
  color: white;
  font-size: 1rem;
  font-family: var(--primary-font-family);
  text-decoration: none;
  padding: 0.25em 1em;
  box-sizing: border-box;
  cursor: pointer;
  transition: filter 0.25s, box-shadow 0.25s, transform 0.25s;
}
.button:active {
  transform: scale(0.95);
}
.button--primary {
  background-color: var(--primary-highlight-dark-color);
  border: 0.125rem solid var(--primary-highlight-dark-color);
  z-index: 5;
  box-shadow: 0 0 0.125rem 0.125rem #385f44;
}
.button-info {
  position: absolute;
  z-index: 25;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .button-info {
    top: 90%;
  }
}
.button-info__link {
  white-space: nowrap;
  border-radius: 0.3rem;
  border: none;
  display: block;
  border-right: 4px solid;
  cursor: pointer;
  line-height: 3rem;
  color: #fff;
  background-color: #8d1c3d;
  font-size: 1.3rem;
  font-weight: 700;
  transition: transform 0.25s;
  overflow: hidden;
  width: 9ch;
  animation: typing 2s 1 steps(9), blink 0.5s 5 step-end alternate, removeBorder 0.25s 1;
}
.button-info__link-container {
  text-decoration: none;
}
.button-info__link:active {
  transform: scale(0.95);
}
@media (min-width: 768px) {
  .button-info__link {
    font-size: 1.7rem;
  }
}

.fg-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 4rem;
  overflow-x: hidden;
}
.fg-card {
  width: 80%;
  height: 26rem;
  display: flex;
  border-radius: 0 0 1.5625rem 1.5625rem;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-shadow-color);
  gap: 2rem 0;
  box-sizing: border-box;
  padding: 2rem 0;
  position: relative;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transition: transform 0.25s;
}
@media (min-width: 672px) {
  .fg-card {
    width: 100%;
  }
}
@media (min-width: 1007px) {
  .fg-card--main:nth-last-child(1), .fg-card--main:nth-last-child(2) {
    transform: translateX(50%);
  }
}
.fg-card::after {
  content: "";
  background-image: url("/assets/svg/dots.svg");
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  bottom: 1.5rem;
}
.fg-card__title {
  color: var(--reverse-primary-text-color);
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}
.fg-card__teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
}
.fg-card__team {
  width: 80%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--secondary-theme-color);
  opacity: 0.9;
  transition: opacity 0.25s;
}
.fg-card__team:hover {
  opacity: 1;
}
.fg-card__team-img {
  width: 2rem;
  height: 2rem;
  display: flex;
  object-fit: contain;
}
.fg-card__team-img__container {
  display: flex;
  justify-content: center;
}
.fg-card__team-text {
  color: var(--reverse-primary-text-color);
  margin: 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}
.fg-card__team-text__container {
  width: 40%;
}

.form__group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.form__input {
  width: 100%;
  border: none;
  line-height: 2rem;
  border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
  outline: none;
}
.form__input-container {
  background-color: white;
  border: 2px groove var(--primary-highlight-dark-color);
  border-radius: var(--primary-border-radius);
  display: inline-flex;
  align-items: center;
  outline: none;
  gap: 0 0.2rem;
  padding: 0 0 0 1rem;
}
.form__input-container:focus {
  outline: 2px solid black;
}

.header {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--primary-shadow-color);
}

.nav {
  height: 100%;
}

.nav--footer {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  height: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav__link-logo {
  object-fit: contain;
  display: block;
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
}

.footer {
  background-color: var(--primary-highlight-dark-color);
}
.footer__title {
  position: relative;
  font-size: 0.75rem;
  margin: 0;
  text-align: center;
}
.footer__title::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  background-color: var(--reverse-primary-shadow-color);
  width: 100%;
  height: 0.0625rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 0.875rem;
  }
}
.footer__link {
  color: var(--primary-shadow-color);
  text-decoration: none;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero .hero::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.4;
  background-color: #000;
}
.hero .hero__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  order: 0;
}
@media (min-width: 1024px) {
  .hero .hero__info {
    align-items: flex-end;
    padding: 0 5rem;
    order: 1;
    gap: 3rem;
  }
}

.hero__title {
  margin: 0;
  font-weight: 900;
  color: var(--reverse-primary-text-color);
  text-align: center;
}
@media (min-width: 1024px) {
  .hero__title {
    text-align: end;
    font-size: 4rem;
  }
}

.hero__text {
  width: 90%;
  text-align: center;
  margin: 0;
}
@media (min-width: 1024px) {
  .hero__text {
    text-align: end;
    width: 50%;
    font-size: 1.3rem;
  }
}

.hero__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--primary-theme-color);
}
.hero__img-container {
  order: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero__img-container {
    order: 0;
  }
}
@media (min-width: 768px) {
  .hero__img {
    width: 15rem;
    height: 15rem;
  }
}

.list {
  border-radius: var(--primary-border-radius);
  border: 0.0625rem solid var(--primary-highlight-color);
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__item {
  border-bottom: 0.0625rem solid var(--primary-highlight-color);
  padding: 0.5rem;
  transition: background-color 0.25s;
}
.list__item:hover {
  background-color: var(--primary-theme-color);
}
.list__item:last-child {
  border-bottom: 0;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu--hamburger {
  position: fixed;
  top: 4rem;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--primary-theme-color);
  transition: left 0.25s;
}
@media (min-width: 768px) {
  .menu--hamburger {
    position: static;
    flex-direction: row;
    gap: 1rem;
    width: auto;
    background-color: transparent;
  }
}
.menu__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 700;
  font-family: var(--primary-font-family);
  text-decoration: none;
  transition: color 0.25s;
}
.menu__link:hover, .menu__link--active {
  color: var(--primary-highlight-dark-color);
  font-weight: bold;
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight-color);
  transition: width 0.25s ease-in-out;
}
.menu__link:hover::before, .menu__link--active::before {
  width: 100%;
}
@media (min-width: 768px) {
  .menu__link {
    color: var(--reverse-primary-text-color);
  }
  .menu__link:hover, .menu__link--active {
    color: var(--primary-highlight-color);
  }
}
.menu__img {
  width: 24px;
  height: 24px;
  transition: transform 0.25s;
}
.menu__img:hover {
  transform: scale(1.125);
}
@media (min-width: 768px) {
  .menu__img {
    width: 32px;
    height: 32px;
  }
}
.menu-icon {
  --transform-value: 0deg;
  color: var(--reverse-primary-text-color);
  font-size: 1.75rem;
  display: flex;
  transform: rotate(var(--transform-value));
  transition: transform 0.25s;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.menu-icon--rotated {
  --transform-value: 180deg;
}
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}
.menu--hamburger-open {
  left: 0;
}

.section {
  padding: var(--padding-section);
}
.section--secondary {
  background-color: var(--primary-highlight-color);
}
.section--headed {
  box-shadow: 0 0 0.0625rem 0.0625rem var(--reverse-primary-shadow-color);
}
.section--fg {
  padding-bottom: 0;
}
.section-simulator--fg {
  padding: 3rem 0;
}
.section--slider {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.section__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 0.25rem #385f44;
}
@media (min-width: 768px) {
  .section__title {
    font-size: 2rem;
  }
}
.section__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-wci {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: var(--padding-container);
}
.container--slider {
  padding: 0;
}
.container__logo-mundial {
  border-radius: 30%;
}
.container--headed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.container--elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.container--hero {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--reverse-primary-text-color);
  gap: 2rem 0;
}
@media (min-width: 768px) {
  .container--hero {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .container--hero {
    flex-direction: row;
  }
}
.container--fg {
  display: flex;
  flex-direction: column;
  gap: var(--padding-section);
}

.container--slider {
  width: 90%;
  padding: 0;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 3px #8d1c3d, 0 15px 25px rgb(170, 170, 170);
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .container--slider {
    width: 95%;
    max-width: 1000px;
  }
}

.slider {
  height: 400px;
}
.slider__section {
  width: 100%;
}
.slider__img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slider__button {
  z-index: 25;
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}
.slider-theme {
  background-color: #8d1c3d;
}
.slider__button:hover {
  background-color: #fff;
  color: #8d1c3d;
}
.slider__button--next {
  right: 10px;
}
.slider__button--prev {
  left: 10px;
}
.slider__button-icon {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .slider {
    height: 520px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes removeBorder {
  to {
    border-right: 0px solid;
  }
}
.wave {
  position: relative;
  margin: 0;
}
.wave--reverse {
  margin: -0.25rem 0;
  transform: rotate(180deg);
}
.wave__wave {
  display: block;
  fill: var(--primary-highlight-color);
}

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: #25564b;
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --font1: "Fraunces", serif;
  --font2: "Barlow", sans-serif;
}

/* services */
.services {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 500px 400px);
}

.services__img--1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__img--2 {
  background-image: url("https://i.pinimg.com/564x/6d/f3/9a/6df39a6f74b9037da4e87527fc8a2d49--watch-tv-now-panda-babies.jpg");
  background-size: cover;
  background-position: center;
}

.services__img--3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__img--4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
}

.services__img--5 {
  background-image: url("https://i.pinimg.com/564x/6d/f3/9a/6df39a6f74b9037da4e87527fc8a2d49--watch-tv-now-panda-babies.jpg");
  background-size: cover;
  background-position: center;
}

.services__texts {
  padding: 1rem 1.5rem;
  place-self: center;
  text-align: center;
  --color: hsla(207, 100%, 49%, 0.624);
}

.services__texts--2 {
  --color: hsla(7, 99%, 70%, 0.267);
}

.services__texts--3 {
  --color: hsla(207, 100%, 49%, 0.624);
}

.services__texts--4 {
  --color: hsla(7, 99%, 70%, 0.267);
}

.services__texts--5 {
  --color: hsla(207, 100%, 49%, 0.624);
}

.services__title {
  font-size: 2rem;
  font-family: var(--font1);
  color: var(--very-dark-desaturated-blue);
}

.services__paragraph {
  line-height: 1.5;
  color: var(--very-dark-grayish-blue);
  margin: 1.5rem 0;
}

.services__cta {
  color: var(--very-dark-desaturated-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font1);
  position: relative;
}

.services__cta::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  border-radius: 2em;
  z-index: -1;
  background-color: var(--color);
}

@media (min-width: 768px) {
  .services {
    grid-template-rows: repeat(5, 500px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "text1 img1" "img2 text2" "text3 img3" "img4 text4" "text5 img5";
  }
  .services__img--1 {
    grid-area: img1;
  }
  .services__group__card {
    width: 60%;
    margin: 0 auto;
  }
  .services__texts {
    text-align: start;
    grid-area: text1;
    padding: 2rem 3rem;
  }
  .services__texts--2 {
    grid-area: text2;
    padding: 2rem 3rem;
  }
  .service__image--2 {
    background-image: url("https://media.revistagq.com/photos/5ca5fa0ad71dd959bc9581c5/3:4/w_1200,h_1600,c_limit/kungfu_2085.jpeg");
    grid-area: img2;
  }
  .service__img--3 {
    grid-area: img3;
  }
  .services__texts--3 {
    text-align: start;
    grid-area: text3;
    padding: 2rem 3rem;
  }
  .services__texts--4 {
    text-align: start;
    grid-area: text4;
    padding: 2rem 3rem;
  }
  .service__image--4 {
    grid-area: img4;
  }
  .service__image--5 {
    background-image: url("https://media.revistagq.com/photos/5ca5fa0ad71dd959bc9581c5/3:4/w_1200,h_1600,c_limit/kungfu_2085.jpeg");
    grid-area: img5;
  }
  .services__texts--5 {
    grid-area: text5;
    padding: 2rem 3rem;
  }
}
.simulator {
  padding: 8rem 0 4rem 0;
}
.simulator-container {
  width: min(100%, 1024px);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .simulator-container {
    flex-direction: row;
  }
}
.simulator__groups {
  width: 100%;
}
@media (min-width: 768px) {
  .simulator__groups {
    flex: 1.5;
  }
}
.simulator__groups__card {
  margin: 0 auto;
  width: 70%;
}
@media (min-width: 768px) {
  .simulator__groups__card {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .simulator__fixture {
    flex: 3;
  }
}
.simulator__fixture-container {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

.match {
  background-color: var(--primary-highlight-color);
  border-radius: 0.5rem;
  padding: 1rem 0;
}
.match-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  box-sizing: border-box;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .match-container {
    flex-wrap: nowrap;
  }
}
.match__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.match__team__name {
  margin: 0;
}
@media (min-width: 1024px) {
  .match__team {
    flex-direction: row;
  }
  .match__team:nth-last-child(1) {
    flex-direction: row-reverse;
  }
}
.match__flag {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.match__info {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex: 100%;
}
@media (min-width: 1024px) {
  .match__info {
    order: initial;
    flex: auto;
  }
}
.match__date {
  margin: 0;
}
.match__stadium {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.match__stadium__name {
  margin: 0;
  text-align: center;
}
.match__stadium__img {
  object-fit: cover;
  border-radius: 0.5rem;
}
@media (min-width: 1024px) {
  .match__stadium__img {
    height: auto;
    width: 10rem;
  }
}
.match__stadium__img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}