:root {
  scroll-behavior: smooth;
  --primary-theme-color: #eee;
  --secondary-theme-color: #d9d9d922;
  --primary-text-color: #000;
  --secondary-text-color: #eee;
  --reverse-primary-text-color: white;
  --primary-shadow-color: #8d1c3d;
  --secondary-shadow-color: #ffffff;
  --reverse-primary-shadow-color: #fff8;
  --primary-highlight-color: #9bd9cc;
  --primary-highlight-dark-color: #63a194;
  --secondary-highlight-color: #e1c396;
  --secondary-highlight-light-color: #e1c39644;
  --primary-button-color: #61dafb;
  --secondary-button-color: gold;
  --primary-invalid-color: crimson;
  --primary-font-family: "Inter", sans-serif;
  --padding-section: 1.5rem 0;
  --padding-container: 0 1rem;
  --max-width-container: 640px;
  --primary-border-radius: 0.5rem;
}
@media (min-width: 768px) {
  :root {
    --padding-section: 2rem 0;
    --padding-container: 0 0.75rem;
    --max-width-container: 1024px;
  }
}

.body {
  background-color: var(--secondary-highlight-light-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}