.fg {
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 4rem;
    overflow-x: hidden;
  }

  &-card {
    width: 80%;
    height: 26rem;
    display: flex;
    border-radius: 0 0 1.5625rem 1.5625rem;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-shadow-color);
    gap: 2rem 0;
    box-sizing: border-box;
    padding: 2rem 0;
    position: relative;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    transition: transform 0.25s;
    @media (min-width: 672px) {
      width: 100%;
    }
    &--main {
      @media (min-width: 1007px) {
        &:nth-last-child(1), &:nth-last-child(2) {
          transform: translateX(50%);
        }
      }
    }
    &::after {
      content: "";
      background-image: url("/assets/svg/dots.svg");
      position: absolute;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 10px;
      bottom: 1.5rem;
    }
    &__title {
      color: var(--reverse-primary-text-color);
      margin: 0;
      font-weight: 700;
      font-size: 1.5rem;
    }

    &__teams {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      width: 80%;
    }

    &__team {
      width: 80%;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;
      padding: 0.5rem;
      box-sizing: border-box;
      background-color: var(--secondary-theme-color);
      opacity: 0.9;
      transition: opacity 0.25s;
      &:hover {
        opacity: 1;
      }
      &-img {
        width: 2rem;
        height: 2rem;
        display: flex;
        object-fit: contain;
        &__container {
          display: flex;
          justify-content: center;
        }
      }

      &-text {
        color: var(--reverse-primary-text-color);
        margin: 0;
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
        &__container {
          width: 40%;
        }
      }
    }
    
  }
}
