.form {
  &__group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__input {
    width: 100%;
    border: none;
    line-height: 2rem;
    border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
    outline: none;
    &-container {
      background-color: white;
      border: 2px groove var(--primary-highlight-dark-color);
      border-radius: var(--primary-border-radius);
      display: inline-flex;
      align-items: center;
      outline: none;
      gap: 0 0.2rem;
      padding: 0 0 0 1rem;
      &:focus {
        outline: 2px solid black;
      }
    }
  }
}
