* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: #25564b;
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    --font1: 'Fraunces', serif;
    --font2: 'Barlow', sans-serif;
}




/* services */

.services {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 500px 400px);
}


.services__img--1 {
    background-image: url('564x/6d/f3/9a/6df39a6f74b9037da4e87527fc8a2d49--watch-tv-now-panda-babies.jpg');
    background-size: cover;
    background-position: center;
}
.services__img--2 {
    background-image: url('https://i.pinimg.com/564x/6d/f3/9a/6df39a6f74b9037da4e87527fc8a2d49--watch-tv-now-panda-babies.jpg');
    background-size: cover;
    background-position: center;
}

.services__img--3 {
    background-image: url('https://i.pinimg.com/564x/6d/f3/9a/6df39a6f74b9037da4e87527fc8a2d49--watch-tv-now-panda-babies.jpg');
    background-size: cover;
    background-position: center;
}

.services__img--4 {
    background-image: url('https://i.pinimg.com/564x/6d/f3/9a/6df39a6f74b9037da4e87527fc8a2d49--watch-tv-now-panda-babies.jpg');
    background-size: cover;
    background-position: center;
}

.services__img--5 {
    background-image: url('https://i.pinimg.com/564x/6d/f3/9a/6df39a6f74b9037da4e87527fc8a2d49--watch-tv-now-panda-babies.jpg');
    background-size: cover;
    background-position: center;
}

.services__texts {
    padding: 1rem 1.5rem;
    place-self: center;
    text-align: center;
    --color: hsla(207, 100%, 49%, 0.624);
}

.services__texts--2 {
    --color: hsla(7, 99%, 70%, 0.267);
}

.services__texts--3 {
    --color: hsla(207, 100%, 49%, 0.624);
}

.services__texts--4 {
    --color: hsla(7, 99%, 70%, 0.267);
}

.services__texts--5 {
    --color: hsla(207, 100%, 49%, 0.624);
}


.services__title {
    font-size: 2rem;
    font-family: var(--font1);
    color: var(--very-dark-desaturated-blue);
}

.services__paragraph {
    line-height: 1.5;
    color: var(--very-dark-grayish-blue);
    margin: 1.5rem 0;
}

.services__cta {
    color: var(--very-dark-desaturated-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font1);

    position: relative;
}

.services__cta::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    border-radius: 2em;
    z-index: -1;
    background-color: var(--color);
}





@media (min-width:768px) {

    .services {
        grid-template-rows: repeat(5, 500px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "text1 img1"
            "img2 text2"
            "text3 img3"
            "img4 text4"
            "text5 img5";
    }

    .services__image {
        background-image: url('https://media.revistagq.com/photos/5ca5fa0ad71dd959bc9581c5/3:4/w_1200,h_1600,c_limit/kungfu_2085.jpeg');
        grid-area: img1;
    }

    .services__texts {

        text-align: start;
        grid-area: text1;
        padding: 2rem 3rem;
    }

    .services__texts--2 {
        grid-area: text2;
        padding: 2rem 3rem;
    }


    .service__image--2 {
        background-image: url('https://media.revistagq.com/photos/5ca5fa0ad71dd959bc9581c5/3:4/w_1200,h_1600,c_limit/kungfu_2085.jpeg');
        grid-area: img2;
    }

   
    .service__image--3 {
        background-image: url('https://media.revistagq.com/photos/5ca5fa0ad71dd959bc9581c5/3:4/w_1200,h_1600,c_limit/kungfu_2085.jpeg');
        grid-area: img3;
    }

    .services__texts--3 {
        text-align: start;
        grid-area: text3;
        padding: 2rem 3rem;
    }

    .services__texts--4 {
        text-align: start;
        grid-area: text4;
        padding: 2rem 3rem;
    }

    .service__image--4 {
        background-image: url('https://media.revistagq.com/photos/5ca5fa0ad71dd959bc9581c5/3:4/w_1200,h_1600,c_limit/kungfu_2085.jpeg');
        grid-area: img4;
    }

    .service__image--5 {
        background-image: url('https://media.revistagq.com/photos/5ca5fa0ad71dd959bc9581c5/3:4/w_1200,h_1600,c_limit/kungfu_2085.jpeg');
        grid-area: img5;
    }
    .services__texts--5 {
        grid-area: text5;
        padding: 2rem 3rem;
    }
}