.wave {
  position: relative;
  margin: 0;
  &--reverse {
    margin: -0.25rem 0;
    transform: rotate(180deg);
  }
  
  &__wave {
    display: block;
    fill: var(--primary-highlight-color);
  }
}
